[editable-model]:hover, [editable]:hover {
    /*border: 2px solid forestgreen;*/
}

[editable-model], [editable] {
    border: 2px solid transparent;
}

[page-structure-actions] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*padding: 20px 0px;*/
    max-height: 0px;
    position: relative;
}

button[page-structure-action="add"]:before {
    content: '+';
    color: white;
    font-weight: bold;
    font-size: 2em;
    line-height: 1em;
}

button[page-structure-action="add"] {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: none;
    width: 40px;
    height: 40px;
    margin: 0.5em;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

button[page-structure-action="add"]:hover {
    /*background: rgb(0, 120, 0);*/
}

[model-name] {
    margin-top: 5px;
    /*border: 1px solid forestgreen;*/
    padding: 5px;
}

[block-name] {
    border: 1px solid black;
    /*margin-top: 5px;*/
    /*border: 1px solid green;*/
}

[model-action='add']::before, [model-action='new']::before {
    content: '';
    filter: invert(100%);
    display: inline-block;
    width: 25px;
    height: 25px;

    background: url('../imgs/icons/plus-solid.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


button[data-block-action="add"], button[model-action="new"] {
    line-height: 1;
    /*background: forestgreen;*/
    border: none;
    border-radius: 25px;
    width: 35px;
    height: 35px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

[model-action='new'] {
    position: absolute;
    top: 5px;
    right: 5px;

    --tw-bg-opacity: 1;
    background-color: rgb(21 128 61 / var(--tw-bg-opacity));
}

div[entity-action-bar] {
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
    display: flex;
    gap: 5px;
    flex-direction: row;
}

[model-action='delete']::before {
    content: '';
    filter: invert(100%);
    display: inline-block;
    width: 15px;
    height: 15px;

    background-size: contain;
    background: url('../imgs/icons/trash-solid.svg') no-repeat center;
}

[model-action='delete'] {
    line-height: 1;
    --tw-bg-opacity: 1;
    background-color: rgb(185 28 28 / var(--tw-bg-opacity));
    /*background: firebrick;*/
    border: none;
    border-radius: 25px;
    width: 35px;
    height: 35px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

[model-action='edit']::before {
    content: '';
    filter: invert(100%);
    display: inline-block;
    width: 15px;
    height: 15px;

    background-size: contain;
    background: url('../imgs/icons/pen-to-square-regular.svg') no-repeat center;
}

[model-action='edit'] {
    line-height: 1;
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity));
    /*background: royalblue;*/
    border: none;
    border-radius: 25px;
    width: 35px;
    height: 35px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

button[data-block-action="moveToUp"]::before {
    content: '';
    filter: invert(100%);
    display: inline-block;
    width: 15px;
    height: 15px;

    background: url('../imgs/icons/arrow-up-solid.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

button[data-block-action="moveToDown"]:before {
    content: '';
    filter: invert(100%);
    display: inline-block;
    width: 15px;
    height: 15px;

    background: url('../imgs/icons/arrow-down-solid.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

button[data-block-action="moveToUp"], button[data-block-action="moveToDown"] {
    line-height: 1;
    border-radius: 25px;
    width: 35px;
    height: 35px;
    border: none;
    color: white;
    /*background: royalblue;*/
    padding: 6px 8px
}

button[data-block-action="delete"]:before {
    content: '';
    filter: invert(100%);
    display: inline-block;
    width: 15px;
    height: 15px;

    background: url('../imgs/icons/trash-solid.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

button[data-block-action="delete"] {
    line-height: 1;
    border: none;
    /*background: firebrick;*/
    padding: 6px 8px;
    border-radius: 25px;
    width: 35px;
    height: 35px;
}

button[liveeditor-action="save"] {
    border: none;
    /*background: forestgreen;*/
    padding: 6px 8px;
    border-radius: 5px;
}

div[liveeditor-bar] {
    /* add effect background blur */
    backdrop-filter: blur(5px);

    background: rgba(255,255,255,0.2);
    position: fixed;
    left: 0;
    bottom: 0;
    border-radius: 5px;
    margin: 25px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: row;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

div[liveeditor-bar] img.dodocms-logo {
    margin: 0px 20px;
    width: auto;
    height: 48px;
}