.dodocms-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.dodocms-modal .show {
    display: block;
}

.dodocms-modal-content {
    /*     padding: 20px 0px; */
    border-radius: 0.5rem;
    background-color: #374151;
    margin: 15% auto;
    max-width: 750px;
}

.dodocms-modal-header {
    display: flex;
    align-items: center;
    padding: 16px;
}

.dodocms-modal-header .dodocms-modal-title {
    margin-bottom: 0px;
}

.dodocms-modal-header .dodocms-modal-close {
    margin-left: auto;
}

.dodocms-modal-body {
    padding: 16px;
    /*     margin: 10px 0px 20px 0px; */
    content: '';
    border-top: 1px solid #4b5563;
    border-bottom: 1px solid #4b5563;
    width: 100%;
}

.dodocms-modal-close {
    color: #aaa;
    font-weight: bold;
    line-height: 1em;
    border: none!important;
    outline: none;
    cursor: pointer;
    padding: 10px;
    background: transparent;
    transition: background-color 0.3s, color 0.3s;
}

.dodocms-modal-footer {
    display: flex;
    padding: 16px;
}

.dodocms-modal-footer .dodocms-modal-close {
    border: 1px solid rgb(150,150, 150)!important;
    color: rgb(150,150, 150);
    border-radius: 6px;
    float: none;
}

.dodocms-modal-footer .dodocms-modal-close:hover {
    border: 1px solid darkgray!important;
    color: darkgray;
}

.dodocms-modal-close svg {
    width: 0.75rem;
    height: 0.75rem;
    vertical-align: middle;
}

.dodocms-modal-close:hover,
.dodocms-modal-close:focus {
    color: #ececec;
    text-decoration: none;
    cursor: pointer;
}