<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Block direct access to PHP files
    RewriteCond %{REQUEST_FILENAME} \.php$
    RewriteRule ^ index.php [QSA,L]

    # Si la demande n'est pas pour un fichier existant
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]

    # Ajouter la condition pour les extensions autorisées (png, svg, webp, etc.)
    RewriteCond %{REQUEST_FILENAME} !\.(css|js|png|jpg|jpeg|webv|svg|webp)$

    # Rediriger vers index.php si l'extension n'est pas autorisée
    RewriteRule ^ index.php [QSA,L]
</IfModule>

<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>