<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Block direct access to PHP files
    RewriteCond %{REQUEST_FILENAME} \.php$
    RewriteRule ^ index.php [QSA,L]

    # Si la demande n'est pas pour un fichier existant ou sinon qui ne soit pas un fichier avec l'extension .php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>
<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>